general {
    funcon-term: 
      initialise-storing
      give(
        allocate-initialised-variable(booleans,true),
        sequential(
          check-true assigned(given),
          store-clear,
          else(assigned(given), print"OK")))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
