general {
    funcon-term: 
      initialise-storing
      give(
        { "a" |-> allocate-initialised-variable(booleans,false),
          "b" |-> 42,
          "c" |-> allocate-initialised-variable(booleans,true),
          "d" |-> 13 },
        sequential(
          check-true is-equal(
            current-value(map()),
            map()),
          check-true is-equal(
            current-value(given),
            {"a"|->variable(atom("@1"), booleans),"b"|->42
            ,"c"|->variable(atom("@2"), booleans),"d"|->13}),
          check-true is-equal(
            current-value(lookup(given,"a")),false),
          check-true is-equal(
            current-value(lookup(given,"c")),true),
          check-true is-equal(
            current-value{42},
            {42})))
        ;
}

tests {
    result-term: null-value;
}
