general {
    funcon-term: 
      initialise-storing
      give(
        { "a" |-> allocate-initialised-variable(booleans,true),
          "b" |-> 42,
          "c" |-> allocate-initialised-variable(booleans,false) },
        sequential(
          check-true is-equal(
            structural-assigned(map()),
            map()),
          check-true is-equal(
            structural-assigned(given),
            {"a"|->true,"b"|->42,"c"|->false}),
          check-true is-equal(
            structural-assigned{42},
            {42})))
        ;
}

tests {
    result-term: null-value;
}
