general {
    funcon-term: 
      initialise-storing
      give(
        give(
          allocate-variable(booleans),
          sequential(initialise-variable(given,true),given)),
        else(initialise-variable(given,true), print"OK"))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
