general {
    funcon-term: 
      initialise-storing
      give(
        tuple(
          allocate-initialised-variable(booleans,false),
          42,
          allocate-initialised-variable(booleans,true)),
        sequential(
          structural-assign(given,tuple(true,42,false)),
          else(
            structural-assign(given,[true,42,false]), 
            structural-assign(given,tuple(true,99,false)), 
            structural-assign(given,false), 
            print"OK")))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
