general {
    funcon-term: 
      initialise-storing
      give(
        tuple(
          allocate-initialised-variable(booleans,false),
          42,
          allocate-initialised-variable(booleans,true)),
        check-true is-equal(
          structural-assigned(given),
          tuple(false,42,true)))
        ;
}

tests {
    result-term: null-value;
}
