general {
    funcon-term: 
      initialise-storing
      give(
        allocate-initialised-variable(booleans,false),
        sequential(
          structural-assign(given,true),
          else(structural-assign(given,42), print"OK")))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
