general {
    funcon-term: 
      finalise-breaking
      sequential(
        print seq(handle-break(none),0),
        handle-break(print 1),
        print seq(handle-break(
          sequential(print 2, break, fail)),3)
      )
        ;
}

tests {
    result-term: none;
    standard-out: [0, 1, 2, 3];
}
