general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-lookup({1|->2}, 1),
      print map-lookup({1|->2,3|->4}, 1),
      print map-lookup({1|->2,3|->4}, 3),
      else(
      effect checked map-lookup(map(), 1),
      effect checked map-lookup({1|->2}, 2),
      effect checked map-lookup({1|->2,3|->4}, 2),
      effect checked map-lookup({1|->2,3|->4}, 5),
      print "OK"
      )
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [2, 2, 4, "OK"];
}
