general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-unite(map(1,2),map()),
      print map-unite(map(),map(1,2)),
      print map-unite(map(1,2),map(3,4)),
      print map-unite(map(1,2)),
      print map-unite(map()),
      print map-unite(),
      else(
      effect defined map-unite(map(1,2),map(1,4)),
      effect defined map-unite(map(1,2,3,4),map(5,6,1,7)),
      print "OK"
      )
      )
        ;
}

tests {
    result-term: none;
    standard-out: [
    {1 |-> 2},
    {1 |-> 2},
    {1 |-> 2, 3 |-> 4},
    {1 |-> 2},
    map(),
    map(),
    "OK"
    ];
}
