general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-override({1 |-> 2},map()),
      print map-override(map(),{1 |-> 2}),
      print map-override({1 |-> 2},{1 |-> 2}),
      print map-override({1 |-> 2},{3 |-> 4}),
      print map-override({1 |-> 2},{1 |-> 4}),
      print map-override({1 |-> 2},{1 |-> 4},{1 |-> 2}),
      print map-override({1 |-> 2}),
      print map-override(map()),
      print map-override()
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    {1 |-> 2},
    {1 |-> 2},
    {1 |-> 2},
    {1 |-> 2, 3 |-> 4},
    {1 |-> 2},
    {1 |-> 2},
    {1 |-> 2},
    map(),
    map()
    ];
}
