general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-lookup(map(1,2), 1),
      print map-lookup(map(1,2,3,4), 1),
      print map-lookup(map(1,2,3,4), 3),
      else(
      effect defined map-lookup(map(), 1),
      effect defined map-lookup(map(1,2), 2),
      effect defined map-lookup(map(1,2,3,4), 2),
      effect defined map-lookup(map(1,2,3,4), 5),
      print "OK"
      )
      )
        ;
}

tests {
    result-term: none;
    standard-out: [2, 2, 4, "OK"];
}
