general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-unite({1 |-> 2},map()),
      print map-unite(map(),{1 |-> 2}),
      print map-unite({1 |-> 2},{3 |-> 4}),
      print map-unite({1 |-> 2}),
      print map-unite(map()),
      print map-unite(),
      else(
      effect checked map-unite({1 |-> 2},{1 |-> 4}),
      effect checked map-unite({1 |-> 2, 3 |-> 4},{5 |-> 6, 1 |-> 7}),
      print "OK"
      )
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    {1 |-> 2},
    {1 |-> 2},
    {1 |-> 2, 3 |-> 4},
    {1 |-> 2},
    map(),
    map(),
    "OK"
    ];
}
