general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map(),
      print {1 |-> 2},
      print {1 |-> 2, 3 |-> 4},
      print {1 |-> 2, 3 |-> ()},
      print cast({1 |-> 2}, maps(integers,integers))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    map(), 
    {1 |-> 2}, 
    {1 |-> 2, 3 |-> 4}, 
    {1 |-> 2, 3 |-> ()}, 
    {1 |-> 2}
    ];
}
