general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map(),
      print map(1,2),
      print map(1,2,3,4),
      print map(1,2,3,none),
      print cast(map(1,2), maps(ints,ints))
      )
        ;
}

tests {
    result-term: none;
    standard-out: [
    map(), 
    {1 |-> 2}, 
    {1 |-> 2, 3 |-> 4}, 
    {1 |-> 2, 3 |-> none}, 
    {1 |-> 2}
    ];
}
