general {
    funcon-term: 
      initialise-giving
      initialise-binding
      scope(
        bind-value("f",
          function abstraction print given),
        apply(
          partial-apply(bound-value"f", 1),
          2))
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(1,2)];
}
