general {
    funcon-term: 
      initialise-giving
      initialise-binding
      scope(
        bind-value("f",
          uncurry function abstraction 
            sequential(print given,
              function abstraction print given)),
        apply(bound-value"f", tuple(1,2)))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2];
}
