general {
    funcon-term: 
      initialise-giving
      initialise-binding
      give(
        variant("a",true),
        sequential (
          print case-variant-value("a"),
          else(
            effect case-variant-value"b",
            print"OK")))
        ;
}

tests {
    result-term: null-value;
    standard-out: [true, "OK"];
}
