general {
    funcon-term: 
      initialise-giving
      initialise-binding
      sequential(
        check-true is-equal(match(false,pattern-bind"it"), {"it"|->false}),
        check-true is-equal(match([42],pattern-bind"it"), {"it"|->[42]}),
        check-true is-equal(dom match(abstraction null-value,pattern-bind"it"), {"it"}),
        check-true is-equal(match(abstraction 12,abstraction(pattern-bind "it")), {"it" |-> 12}),
        check-true is-equal(match(vector(42),pattern-bind"it"), {"it"|->vector(42)}),
        check-true is-equal(match(tuple(42),pattern-bind"it"), {"it"|->tuple(42)}),
        print"OK")
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
