general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print vector(),
      print vector(1,2),
      print is-in-type(vector(), vectors(integers)),
      print is-in-type(vector(1,2), vectors(integers))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    vector(), 
    vector(1,2), 
    true,
    true
    ];
}
