.MathJax, .katex {
  padding: $sp-3;
  margin-top: 0;
  margin-bottom: $sp-3;
  background-color: $code-background-color;
  border-radius: $border-radius;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
}

p, li, a, dt, dd, td, th, h1, h2, h3, h4, h5, h6 {
  > .MathJax, .katex {
    padding: 0.2em 0.15em;
    margin: 0;
  }
}

.MathJax a, .katex a {
  color: $body-text-color;
  background-image: none;
}

// Potential workaround for KaTeX 0.13.0 bug https://github.com/KaTeX/KaTeX/issues/2815

.katex .vlist-t2 > .vlist-r:nth-child(2) > .vlist {
  pointer-events: none;
}

// Links in MathJax

mjx-container[jax="SVG"] > svg a[href] {
  fill: $body-text-color;
  stroke: $body-text-color;
}

// CBS highlighting

/* PLAIN */

i.keyword {
    color: Silver;
}

span.name, span.name a, span.comment span.name a {
    color: DarkRed;
}

span.ent-name, span.ent-name a, span.comment span.ent-name a {
    color: DarkRed;
}

span.syn-name, span.syn-name a, span.comment span.syn-name a {
    color: SeaGreen;
}

i.sem-name, i.sem-name a, span.comment i.sem-name a {
    color: DarkBlue;
}

i.var, i.var a, sub, sup {
    color: $body-text-color;
}

span.sectnumtitle a:link {
    color: $body-text-color;
}

/* PRETTY */

.MathJax, .katex {
  .cbs-Key {
    color: Silver;
  }
  .cbs-Name {
    color: DarkRed;
  }
  .cbs-SyntaxName {
    color: SeaGreen;
  }
  .cbs-SemanticsName {
    color: DarkBlue;
  }
  .cbs-PartVariable {
    color: $body-text-color;
  }
  .cbs-SectionNumber {
    color: $body-text-color;
  }
}
