general {
    funcon-term: 
      initialise-giving
      give(
        sequential(
          print 1, 
          2),
        sequential(
          print given,
          give(3, print given),
          print integer-add(given,2)))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4];
}
