general {
    funcon-term: 
      initialise-giving
      sequential(
        print [ left-to-right-filter(true, ( )) ],
        tuple left-to-right-filter(
          sequential(print given, is-less(given,42)),
          42, 1, 43, 44, 2, 3, 45))
        ;
}

tests {
    result-term: tuple(1, 2, 3);
    standard-out: [ [ ], 42, 1, 43, 44, 2, 3, 45 ];
}
