general {
    funcon-term: 
      initialise-giving
      sequential(
        print [ left-to-right-repeat(fail, 2, 1) ],
        tuple left-to-right-repeat(
          sequential(print integer-add(given,2), given),
          sequential(print 1, 1),
          sequential(print 2, 3)))
        ;
}

tests {
    result-term: tuple(1, 2, 3);
    standard-out: [ [ ], 1, 2, 3, 4, 5];
//Also:
//  standard-out: [ [ ], 2, 1, 3, 4, 5];
}
