 general {
    funcon-term: 
      initialise-binding
      initialise-storing
        multithread 
          sequential(
            update-thread-schedule{thread-preemptible},
            scope({"m" |-> rendezvous-create(2)},
              give(
                function closure
                  sequential(
                    rendezvous-sync-else-wait(bound"m", 
                      int-div(int-add(given, 10), 20)), // 1, 1, 2
                    print int-div(given, 10),
                    rendezvous-sync-else-wait(bound"m", 
                      int-div(int-add(given, 40), 20))), // 2, 3, 3
                sequential(
                  effect thread-activate thread-detached supply(given, 10),
                  effect thread-activate thread-detached supply(given, 20),
                  effect thread-activate thread-detached supply(given, 30))))               
          )
        ;
    display-mutable-entity: "store,thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
    non-deterministic: "value-operations";
    seed: 42;
  }

tests {
    result-term: null-value;
    standard-out: [2, 1, 3];
}
