 general {
    funcon-term: 
      initialise-binding
      initialise-storing
        multithread 
          sequential(
            update-thread-schedule{thread-preemptible},
            scope({"m" |-> exclusive-lock-create},
              give(
                function closure
                  sequential(
                    exclusive-lock-sync-else-wait bound"m",
                    print int-add(given, 1),
                    print int-add(given, 2),
                    exclusive-lock-release bound"m"),
                sequential(
                  effect thread-activate thread-detached supply(given, 10),
                  effect thread-activate thread-detached supply(given, 20),
                  effect thread-activate thread-detached supply(given, 30))))               
          )
        ;
    display-mutable-entity: "store,thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
    non-deterministic: "value-operations";
    seed: 42;
  }

tests {
    result-term: null-value;
    standard-out: [21,22,11,12,31,32];
}
