 general {
    funcon-term: 
      initialise-binding
      initialise-storing
        multithread 
          sequential(
            update-thread-schedule{thread-preemptible},
            give(reentrant-lock-create,
              sequential(
                reentrant-lock-sync given,
                reentrant-lock-sync given,
                reentrant-lock-exit given,
                reentrant-lock-sync given,
                reentrant-lock-exit given,
                reentrant-lock-sync-else-wait given,
                reentrant-lock-exit given,
                thread-spin reentrant-lock-sync given,
                print "OK"))
          )
        ;
    display-mutable-entity: "store,thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
