 general {
    funcon-term: 
      initialise-binding
      initialise-storing
        multithread 
          sequential(
            update-thread-schedule{thread-preemptible},
            scope({"m" |-> reentrant-lock-create},
              give(
                function closure
                  sequential(
                    reentrant-lock-sync-else-wait bound"m",
                    print int-add(given, 1),
                    reentrant-lock-sync bound"m",
                    print int-add(given, 2),
                    reentrant-lock-exit bound"m",
                    reentrant-lock-sync bound"m",
                    print int-add(given, 3),
                    reentrant-lock-sync bound"m",
                    print int-add(given, 4),
                    reentrant-lock-exit bound"m",
                    print int-add(given, 5),
                    reentrant-lock-exit bound"m",
                    print int-add(given, 6),
                    reentrant-lock-exit bound"m"),
                sequential(
                  effect thread-activate thread-detached supply(given, 10),
                  effect thread-activate thread-detached supply(given, 20),
                  effect thread-activate thread-detached supply(given, 30))))               
          )
        ;
    display-mutable-entity: "store,thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
    non-deterministic: "value-operations";
    seed: 42;
  }

tests {
    result-term: null-value;
    standard-out: [21,22,23,24,25,26,11,12,13,14,15,16,31,32,33,34,35,36];
}
