general {
    funcon-term: 
      finalise-returning
      sequential(
        print handle-return(1),
        handle-return(print 2),
        print handle-return(
          sequential(print 3, return(sequential(print 4, 5))))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4, 5];
}
