general {
    funcon-term: 
      finalise-continuing
      sequential(
        print seq(handle-continue(none),0),
        handle-continue(print 1),
        print seq(handle-continue(
          sequential(print 2, continue, fail)),3)
      )
        ;
}

tests {
    result-term: none;
    standard-out: [0, 1, 2, 3];
}
