general {
    funcon-term: 
      finalise-continuing
      sequential(
        print sequential(handle-continue(null-value),0),
        handle-continue(print 1),
        print sequential(handle-continue(
          sequential(print 2, continue, fail)),3)
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [0, 1, 2, 3];
}
