general {
    funcon-term: 
      sequential(
        do-while(print 1,false),
        else(
          do-while(
            sequential(print 2, fail),
            sequential(print"ERROR", true)),
          print"OK"))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1,2,"OK"];
}
