general {
    funcon-term: 
      sequential(
        print tuple interleave( ),
        interleave(print 1),
        effect tuple interleave(print 2,print 3),
        effect tuple interleave(sequential(print 4,print 5),print 6))
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(), 1, 2, 3, 4, 5, 6];
//Also possible:
//  standard-out: [.........., 3, 2, .......];
//  standard-out: [................, 4, 6, 5];
//  standard-out: [................, 6, 4, 5];
}
