general {
    funcon-term: 
      sequential(
        while(false,sequential(print"ERROR",fail)),
        else(
          while(
            sequential(print 1, true),
            sequential(print 2, fail)),
          print"OK"))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1,2,"OK"];
}
