general {
    funcon-term: 
      initialise-giving initialise-generating finalise-failing 
      sequential (
      print object-identity object(fresh-atom,"A",map()),
      print object-identity object(fresh-atom,"B",map(), 
        object(fresh-atom,"C",map()))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    atom("@1"), atom("@2")
    ];
}
