general {
    funcon-term: 
      sequential(
        initialise-index,
        give(allocate-index 0,
          sequential(print given, print lookup-index given)),
        give(allocate-index 42,
          sequential(print given, print lookup-index given)),
        give(allocate-index 1,
          sequential(print given, print lookup-index given)),
        give(allocate-index 42,
          sequential(print given, print lookup-index given, print lookup-index 2))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 0, 2, 42, 3, 1, 4, 42, 42];
}
