general {
    funcon-term: 
     initialise-binding
      tuple(
        accumulate( ),
        accumulate(bind-value("x", true)),
        accumulate(bind-value("x", true), 
                   bind-value("y", bound-directly"x")),
        accumulate(bind-value("x", true), 
                   bind-value("y", bound-directly"x"), 
                   bind-value("z", bound-directly"x")),
        accumulate(bind-value("x", true), 
                   bind-value("y", true), 
                   bind-value("x", bound-directly"x")))
        ;
}

tests {
    result-term: 
      tuple(
        map( ),
        {"x"|->true},
        {"x"|->true, "y"|->true},
        {"x"|->true, "y"|->true, "z"|->true},
        {"y"|->true, "x"|->true})
        ;
}
