general {
    funcon-term: 
      and(
        is-in-type("x", identifiers),
        is-in-type(identifier-tagged("x",false), identifiers),
        is-in-type(identifier-tagged(identifier-tagged("x",true),false), identifiers),
        is-in-type(identifier-tagged("x",identifier-tagged("x",true)), identifiers)
        )
        ;
}

tests {
    result-term: true;
}
