 general {
    funcon-term: 
      initialise-memos
        sequential(
          initialise-memo-value("ten", sequential(print "ten", 10)),
          print memo-value-recall "ten",
          else(initialise-memo-value("ten", sequential(print "Ten", 10)), 
            null-value),
          print memo-value-recall "ten",
          else(print memo-value-recall("TEN"), null-value),
          print memo-value("it", sequential(print "it", 42)),
          print memo-value-recall "it",
          print memo-value("it", sequential(print "failed", 42)),
          print memo-value-recall "it"
          )
        ;
    display-mutable-entity: "memo-map";
  }

tests {
    result-term: null-value;
    standard-out: ["ten",10,"Ten",10,"it",42,42,42,42];
}
