general {
    funcon-term: 
      initialise-binding initialise-giving 
      scope({"four" |-> 4, "seven" |-> 0},
      sequential(
        print postpone-after-effect(1),
        postpone-after-effect(sequential(print 2, print 3)),
        postpone-after-effect(postpone print bound "four"),
        postpone-after-effect(
          sequential(
            print 5, 
            scope({"seven" |-> 7}, postpone print bound "seven"), 
            print 6))
      ))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4, 5, 6, 7];
}
