 general {
    funcon-term: 
      initialise-binding
      initialise-storing
        multithread 
          sequential(
            update-thread-schedule{thread-preemptible},
            give(spin-lock-create,
              sequential(
                thread-spin spin-lock-sync given,
                spin-lock-release given,
                thread-spin spin-lock-sync given,
                else(spin-lock-sync given, null-value),
                print "OK"))
          )
        ;
    display-mutable-entity: "store,thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
