$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

//
// Both the following highlight themes are more legible than those used forthe light theme
//

@import "./vendor/pygments/css-github/pygments-tomorrow-night";
$code-background-color: #1d1f21;

// @import "./vendor/pygments/css-github/pygments-base16-tomorrow-dark";
// $code-background-color: #1d1f21;

// See ./vendor/pygments/ for alternative highlighting themes.
// When changing, $code-background-color may need adjusting.

/* CBS syntax highlighting: */

/* PLAIN */

i.keyword {
    color: Gray !important;
}

span.name, span.name a, span.comment span.name a {
    color: DarkOrange !important;
}

span.ent-name, span.ent-name a, span.comment span.ent-name a {
    color: DarkOrange !important;
}

span.syn-name, span.syn-name a, span.comment span.syn-name a {
    color: MediumSeaGreen !important;
}

i.sem-name, i.sem-name a, span.comment i.sem-name a {
    color: DodgerBlue !important;
}

i.var, i.var a, sub, sup {
    color: $body-text-color !important;
}

span.sectnumtitle a:link {
    color: $body-text-color !important;
}

/* PRETTY */

.MathJax, .katex {
  .cbs-Key {
    color: Gray !important;
  }
  .cbs-Name {
    color: DarkOrange !important;
  }
  .cbs-SyntaxName {
    color: MediumSeaGreen !important;
  }
  .cbs-SemanticsName {
    color: DodgerBlue !important;
  }
  .cbs-PartVariable {
    color: $body-text-color !important;
  }
  .cbs-SectionNumber {
    color: $body-text-color !important;
  }
}

.search-input {
  color: $body-text-color !important;
}
