general {
    funcon-term: 
      initialise-giving
      initialise-binding
      sequential(
        check-true is-equal(
          match(false,pattern-else(pattern-bind"a",pattern-bind"b")), {"a"|->false}),
        check-true is-equal(
          match(false,pattern-else(pattern-type integers,pattern-bind"b")), {"b"|->false}),
        else(
          effect match(false,pattern-else(pattern-type integers,pattern-type atoms)),
          print"OK"))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
