general {
  funcon-term: sequential (
      check-true(and( ))
    , check-true(and(true))
    , check-true(and(true,true))
    , check-true(and(true,true,true))
    , check-true(not and(false))
    , check-true(not and(false,true))
    , check-true(not and(true,false))
    , check-true(not and(false,true,true))
    , check-true(not and(true,true,false))
    , check-true(not and(true,true,false,true))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
