general {
  funcon-term: sequential (
      check-true(exclusive-or(false, true))
    , check-true(exclusive-or(true, false))
    , check-true(not exclusive-or(false, false))
    , check-true(not exclusive-or(true, true))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
