general {
    funcon-term:  
      initialise-linking
      give(fresh-link(booleans),
        sequential(
          set-link(given, true),
          if-true-else(
            follow-if-link(given),
            if-true-else(
              is-equal(follow-if-link(42),42),
              print"OK",
              fail),
            fail)))
        ;
}

tests {
    result-term: null-value;
    standard-out: ["OK"];
}
