general {
    funcon-term:  
      initialise-linking
      give(fresh-link(bools),
        sequential(
          set-link(given, true),
          print"OK",
          if-true-else(
            follow-link(given),
            print"OK",
            fail)))
        ;
}

tests {
    result-term: none;
    standard-out: ["OK", "OK"];
}
