general {
    funcon-term:  
      initialise-linking
      give(fresh-link(bools),
        sequential(
          set-link(given, true),
          print"OK",
          else(
            set-link(given,false),
            print"OK")))
        ;
}

tests {
    result-term: none;
    standard-out: ["OK", "OK"];
}
