general {
    funcon-term: 
      finalise-abrupting
      sequential(
        print handle-abrupt(1, fail),
        handle-abrupt(print 2, fail),
        handle-abrupt(
          sequential(print 3, abrupt(sequential(print 4, 5))),
          print given)
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4, 5];
}
