general {
    funcon-term: 
      finalise-failing finalise-abrupting
      sequential(
        else-choice(print 1),
        else-choice(fail, fail, fail, print 2, fail, print 3)
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2];
// Also possible:
//  standard-out: [1, 3];
}
