---
---

@import "{{ site.theme }}";

div.nav1 a, div.nav2 a {
    color: #267CB9;
}

div.nav1 a:hover, div.nav1 a:focus, div.nav2 a:hover, div.nav2 a:focus {
    color: #069;
    font-weight: bold
}

div.nav1 a:active, div.nav2 a:active {
    background-color: #f0f0f0
}

div.nav2 p {
	margin: 0 0 0 1em;
}

div.nav1 {
	padding-bottom: 2em;
    font-weight: bold
}

table {
    font-size: 70%;
    table-layout: fixed;
}

td:nth-child(1), th:nth-child(1) {
    width: 10%;
    padding: 0em;
}

td:nth-child(2), th:nth-child(2) {
    width: 10%;
    padding: 0em;
}

td:nth-child(3), th:nth-child(3) {
    width: 10%;
    padding: 0em;
}

td:nth-child(4), th:nth-child(4) {
    width: 10%;
    padding: 0em;
}

td:nth-child(5), th:nth-child(5) {
    width: 10%;
    padding: 0em;
}

td:nth-child(6), th:nth-child(6) {
    width: 10%;
    padding: 0em;
}

td:nth-child(7), th:nth-child(7) {
    width: 30%;
}
