general {
  funcon-term: sequential (
      check-true(or(true))
    , check-true(or(true, false))
    , check-true(or(false, true))
    , check-true(or(false, false, true))
    , check-true(or(false, false, true, false))
    , check-true(not or( ))
    , check-true(not or(false))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
