general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print set-unite({1},set()),
      print set-unite(set(),{2}),
      print set-unite({1},{2}),
      print set-unite({1}),
      print set-unite(set()),
      print set-unite(),
      print "OK"
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    {1},
    {2},
    {1,2},
    {1},
    set(),
    set(),
    "OK"
    ];
}
