general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print set-difference({1},set()),
      print set-difference(set(),{2}),
      print set-difference({1},{2}),
      print set-difference({1,2},{1,2}),
      print set-difference({1,2},{1}),
      print set-difference({1,2},set()),
      print "OK"
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    {1},
    {},
    {1},
    {},
    {2},
    {1,2},
    "OK"
    ];
}
