general {
    funcon-term: 
      initialise-giving
      sequential(
        print [ fold-right(fail, 1, ( )) ],
        fold-right(
          sequential(print given, given),
          1, 2, 3))
        ;
}

tests {
    result-term: tuple(3,tuple(2,1));
    standard-out: [ [ 1 ], tuple(2,1), tuple(3,tuple(2,1)) ];
}
