general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print [forest-value-sequence 
        (tree(1),
        tree(2,tree(3)),
        tree(4),
        tree(5,tree(6),tree(7)))
        ]
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    [1,2,3,4,5,6,7]
    ];
}
