general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print [single-branching-sequence tree(1)],
      print [single-branching-sequence tree(1,tree(2,tree(3)))],
      else(
        print [single-branching-sequence tree(1,tree(2),tree(3))],
        print [single-branching-sequence tree(1,tree(2,tree(3,tree(4),tree(5))))],
        print "OK")
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    [1],
    [1,2,3],
    "OK"
    ];
}
