general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print tree-branch-sequence
        tree(1,tree(2,tree(3)),tree(4),tree(5,tree(6),tree(7)))
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    tree(2,tree(3)), tree(4), tree(5,tree(6),tree(7))
    ];
}
