general {
  funcon-term: sequential (
      check-true(is-equal(tuple(), tuple first-n(0,1,2,3,4,5)))
    , check-true(is-equal(tuple(1), tuple first-n(1,1,2,3,4,5)))
    , check-true(is-equal(tuple(1,2), tuple first-n(2,1,2,3,4,5)))
    , check-true(is-equal(tuple(1,2,3), tuple first-n(3,1,2,3,4,5)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
