general {
  funcon-term: sequential (
      check-true(is-in(1,1))
    , check-true(is-in(1,1,2))
    , check-true(is-in(2,1,2))
    , check-true(is-in(3,1,2,3,4,5))
    , check-true(not is-in(0))
    , check-true(not is-in(1))
    , check-true(not is-in(0,1))
    , check-true(not is-in(3,1,2))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
