general {
  funcon-term: sequential (
      check-true(is-equal(tuple reverse( ), tuple( )))
    , check-true(is-equal(tuple reverse(1), tuple(1)))
    , check-true(is-equal(tuple reverse(1,2), tuple(2,1)))
    , check-true(is-equal(tuple reverse(1,2,3), tuple(3,2,1)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
