general {
    funcon-term: 
      initialise-giving
      initialise-binding
      apply(
        sequential(print 1, function abstraction print given),
        sequential(print 2 , 3))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3];
//Also:
//  standard-out: [2, 1, 3];
}
