general {
    funcon-term: 
      initialise-giving
      initialise-binding
      scope(
        bind-value("f",
          function abstraction
            sequential(print given, integer-add(1,given))),
        print apply(
          compose(
            bound-value"f",
            function abstraction sequential(print 1, 2)),
          99))
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3];
}
