general {
  funcon-term: sequential (
      check-true(is-equal(cast-to-type(false,booleans), false))
    , check-true(is-equal(cast-to-type(false,values), false))
    , check-true(not is-value(cast-to-type(false, natural-numbers)))
    , check-true(not is-value(cast-to-type(false, empty-type)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
