general {
  funcon-term: sequential (
      check-true(is-equal(false,false))
    , check-true(is-equal(0,0))
    , check-true(not is-equal(false, true))
    , check-true(not is-equal(false, 0))
    , check-true(not is-equal(abstraction fail, abstraction fail))
    , check-true(not is-equal(abstraction fail, false))
    , check-true(not is-equal(false, abstraction fail))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
