general {
    funcon-term: 
      finalise-breaking
      sequential(
        print sequential(handle-break(null-value),0),
        handle-break(print 1),
        print sequential(handle-break(
          sequential(print 2, break, fail)),3)
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [0, 1, 2, 3];
}
