general {
    funcon-term: 
      finalise-throwing
      handle-recursively(
        throw 1,
        if-true-else(
          is-less(given,4),
          sequential(print given, throw integer-add(1,given)),
          print"OK")
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, "OK"];
}
