general {
    funcon-term: 
      finalise-throwing
      sequential(
        print handle-thrown(1, fail),
        handle-thrown(print 2, fail),
        handle-thrown(
          sequential(print 3, throw(sequential(print 4, 5))),
          print given)
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4, 5];
}
