general {
    funcon-term: 
      initialise-binding
      sequential(
        multithread print integer-multiply(6, 7),
        print multithread fail,
        print "OK"
      )
        ;
    display-mutable-entity: "thread-map,thread-stepping,active-thread-set,terminated-thread-map";
}

tests {
    result-term: null-value;
    standard-out: [42, failed, "OK"];
}
