general {
    funcon-term: 
      initialise-binding
      sequential(
        multithread sequential(
          give(thread-activate thread-joinable thunk abstraction print 1,
            thread-join given),
          print 2,
          effect thread-activate thread-detached thunk abstraction print 3),
        print "OK"
      )
        ;
    display-mutable-entity: "thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, "OK"];
}
