general {
    funcon-term: 
      initialise-binding
        multithread sequential(
          give(thread-activate thread-joinable thunk abstraction print 3,
            thread-detach given),
          print 1,
          effect thread-activate thread-joinable thunk abstraction 
            sequential(thread-detach current-thread, print 4),
          print 2,
          give(thread-activate thread-joinable thunk abstraction print 5,
            sequential(
              thread-join given, 
              thread-detach given,
              else(effect thread-join given, print "OK")))
      )
        ;
    display-mutable-entity: "thread-map,thread-stepping,active-thread-set,terminated-thread-map";
    refocus: false;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 3, 4, 5, "OK"];
}
