general {
    funcon-term: 
      sequential(
        print choice(1),
        choice(print 2, print 3),
        choice(print 4, print 5, print 6)
        )
        ;
}

tests {
    result-term: null-value;
    standard-out: [1, 2, 4];
//Also possible:
//  standard-out: [1, 3, 6];
//  standard-out: [., 3, .];
//  standard-out: [...., 5];
//  standard-out: [...., 6];
}
