general {
    funcon-term: 
      sequential(
        print tuple left-to-right ( ),
        effect left-to-right(print 1),
        effect tuple left-to-right(print 2, print 3),
        effect tuple left-to-right(print 4, print 5, print 6),
        effect integer-add left-to-right(
            sequential(print 7, 7),
            sequential(print 8, 8))
        )
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(), 1, 2, 3, 4, 5, 6, 7, 8];
}
