general {
    funcon-term: 
      sequential(
        print tuple right-to-left ( ),
        effect right-to-left(print 1),
        effect right-to-left(print 3, print 2),
        effect right-to-left(print 6, print 5, print 4),
        effect integer-add right-to-left(
            sequential(print 8, 8),
            sequential(print 7, 7))
        )
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(), 1, 2, 3, 4, 5, 6, 7, 8];
}
