general {
    funcon-term: 
     initialise-binding
      scope(
        recursive(
          {"x"}, 
          bind-value("x", thunk closure
            if-true-else(not is-equal(null-value, bound-value"x"), true, false))),
        force bound-value"x")
        ;
}

tests {
    result-term: 
      true
        ;
}
