general {
  funcon-term: sequential (
      check-true(is-equal(index(1,1), 1))
    , check-true(is-equal(index(1,1,2), 1))
    , check-true(is-equal(index(2,1,2), 2))
    , check-true(is-equal(index(2,1,2,3), 2))
    , check-true(not is-value(index(0)))
    , check-true(not is-value(index(0,1)))
    , check-true(not is-value(index(0,1,2)))
    , check-true(not is-value(index(1)))
    , check-true(not is-value(index(2)))
    , check-true(not is-value(index(2,1)))
    , check-true(not is-value(index(3,1,2)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
