general {
  funcon-term: sequential (
      check-true(is-equal(tuple intersperse(42), tuple( )))
    , check-true(is-equal(tuple intersperse(42,1), tuple(1)))
    , check-true(is-equal(tuple intersperse(0,1,2), tuple(1,0,2)))
    , check-true(is-equal(tuple intersperse(0,1,2,3), tuple(1,0,2,0,3)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
