general {
  funcon-term: sequential (
      check-true(is-equal(tuple n-of(0,42), tuple( )))
    , check-true(is-equal(tuple n-of(1,2), tuple(2)))
    , check-true(is-equal(tuple n-of(2,3), tuple(3,3)))
    , check-true(is-equal(tuple n-of(3,4), tuple(4,4,4)))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
