general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print tuple(set-elements set( )),
      print tuple(set-elements {1}),
      print tuple(set-elements {2,3})
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(), tuple(1), tuple(2, 3) ];
}
