general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-delete({1 |-> 2},{}),
      print map-delete({1 |-> 2, 3 |-> 4},{}),
      print map-delete(map(),{1}),
      print map-delete({1 |-> 2},{1}),
      print map-delete({1 |-> 2, 3 |-> 4},{1}),
      print map-delete({1 |-> 2, 3 |-> 4},{3}),
      print map-delete({1 |-> 2, 3 |-> 4},{1,3}),
      print "OK"
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [
    {1 |-> 2},
    {1 |-> 2, 3 |-> 4},
    map(),
    map(),
    {3 |-> 4},
    {1 |-> 2},
    map(),
    "OK"
    ];
}
