general {
    funcon-term: 
      initialise-giving finalise-failing 
      sequential (
      print map-elements map( ),
      print map-elements {1|->2},
      print map-elements {3|->4,5|->6}
      )
        ;
}

tests {
    result-term: null-value;
    standard-out: [tuple(1, 2), tuple(3, 4), tuple(5, 6) ];
}
