general {
  funcon-term: sequential (
      check-true(is-equal(tuple tuple-zip(tuple( ),tuple( )), tuple( )))
    , check-true(is-equal(tuple tuple-zip(tuple(1),tuple(2)), tuple(tuple(1,2))))
    , check-true(is-equal(tuple tuple-zip(tuple(1,3),tuple(2,4)), 
                          tuple(tuple(1,2),tuple(3,4))))
    , check-true(is-equal(tuple tuple-zip(tuple(1,3,5),tuple(2,4,6)), 
                          tuple(tuple(1,2),tuple(3,4),tuple(5,6))))
    , check-true(is-equal(tuple tuple-zip(tuple(1),tuple( )), tuple( )))
    , check-true(is-equal(tuple tuple-zip(tuple( ),tuple(1)), tuple( )))
    , print "OK"
    );
}

tests {
    result-term : null-value;
    standard-out : ["OK"];
} 
